* {
  box-sizing: border-box;
}

html,
body {
  position: relative;
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, avenir next, avenir, helvetica neue, helvetica, ubuntu, roboto, noto,
    segoe ui, arial, sans-serif;
  background: transparent;
}

#root {
  margin: 0;
  padding: 0;
  //width: 100%;
  //height: 100%;
  //display: flex;
  //align-items: center;
  //background: #fff;
}

.product {
  display: flex;
  padding: 2rem;
  @media screen and (max-width: 768px) {
    flex-direction: column;
    padding: 0;
  }

  .product-media {
    width: 50%;
  }

  .product-info {
    padding: 2rem;
    width: 50%;
  }

  @media screen and (max-width: 768px) {
    .product-info,
    .product-media {
      width: 100%;
    }
  }
}

.swiper-thumbs {

  .swiper-wrapper {
    //display: flex;
    //justify-content: center;

    .swiper-slide {
      cursor: pointer;
      border: 2px solid #ADADAD;
      width: 48px;
      height: 48px;
      background-size: cover;
      background-position: center;
      display: flex;
      justify-content: center;
      align-items: center;

      &.swiper-slide-thumb-active:not(.no-border) {
        border: 2px solid #008bd2;
      }
    }
  }
}

.swiper-pagination {
  display: none;
}
.swiper-pagination-bullets{
  bottom: 0 !important;
}

.video-bullet {
  display: none;
}

@media screen and (max-width: 768px) {
  .video-bullet {
    z-index: 11;
    position: absolute;
    bottom: 2px;
    right: 24px;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: #fff;
    border: 2px solid #ADADAD;
    display: flex;
    justify-content: center;
    align-items: center;
    svg {
      width: 20px;
      height: 20px;
      fill: #008bd2;
    }
  }
  .swiper-pagination {
    display: block;
    bottom: 0;

    .swiper-pagination-bullet {
      width: 12px;
      height: 12px;
      border-radius: 50%;
      background: #fff;
      border:2px solid #ADADAD;
      //margin: 0 2px;

      &.swiper-pagination-bullet-active {
        background-color: #ADADAD;
      }
    }
  }
}

.dialog {
  .thumbs-custom {
    @media screen and (max-width: 768px) {
      display: flex;
    }
  }
}

.thumbs-custom {
  margin-top: 10px;
  display: flex;
  //padding: 0 0 0 24px;
  position: relative;
  @media screen and (max-width: 768px) {
    display: none;
  }
  .slide-video {
    flex-shrink: 0;
    width: 74px;
    height: 48px;
    display: flex;
    margin-left: 10px;
    @media screen and (max-width: 768px) {
      left: 50%;
      transform: translateX(-50%);
      bottom: 70px;
      z-index: 103;
      &.hide-on-mobile {
        display: none;
      }
    }
    .btn {
      cursor: pointer;
      width: 100%;
      justify-content: center;
      align-items: center;
      border: 2px solid #ADADAD;
      display: flex;
      flex-direction: column;
      &.active {
        border: 2px solid #008bd2;
      }
      @media screen and (max-width: 768px) {
        border-radius: 50%;
        width: 48px;
        height: 48px;
      }
      svg {
        width: 16px;
        fill: #188acb;
        @media screen and (max-width: 768px) {
          width: 24px;
        }
      }
      span {
        text-transform: uppercase;
        font-size: 12px;
        font-weight: 700;
        margin-top: 4px;
        display: block;
        @media screen and (max-width: 768px) {
          display: none;
        }
      }
    }
  }
}
.swiper {
  .swiper-slide {
    // set the height of the slider component
    height: 300px;
  }
  @media screen and (max-width: 768px) {
    .swiper-button-prev,
    .swiper-button-next {
      display: none;
    }
  }
}

.overlay {
  .slide-video {
    position: absolute;
    right: 24px;
    @media screen and (max-width: 768px) {
      right: 0;
    }
  }
}

.alltricks-slider {
  margin: 0 0 2rem 0;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  z-index: 101;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  display: flex;

  .dialog {
    border-radius: 0.5rem;
    z-index: 101;
    background: #fff;
    max-width: 1280px;
    width: 100%;
    height: 80vh;
    position: relative;
    overflow: hidden;
    filter: drop-shadow(0 10px 8px rgba(0, 0, 0, 0.4)) drop-shadow(0 4px 3px rgba(0, 0, 0, 0.1));

    @media screen and (max-width: 768px) {
      padding: 0;
      width: 100vw;
      height: calc(var(--vh, 1vh) * 100);
      //height: 100vh;
      border-radius: 0;
    }

    .swiper {
      .swiper-button-prev {
        left: 24px;
      }
      .swiper-button-next {
        right: 24px;
      }
      .swiper-slide {
      }
    }

    //.swiper-thumbs {
    //  .swiper-wrapper {
    //    justify-content: center;
    //    @media screen and (max-width: 768px) {
    //      justify-content: flex-start;
    //    }
    //  }
    //}

    .close {
      z-index: 102;
      background: #fff;
      position: absolute;
      top: 24px;
      right: 24px;
      border-radius: 0.5rem;
      border: 0;
      padding: 0;
      color: #ADADAD;
      cursor: pointer;
      width: 40px;
      height: 40px;
    }

    .pinch-icon {
      display: flex;
      width: 200px;
      z-index: 102;
      justify-content: center;
      align-items: center;
      position: absolute;
      right: 24px;
      bottom: 8rem;
      border-radius: 0.5rem;
      font-size: 12px;
      background: #e6e6e6;
      padding: 0.25rem 1rem;
      @media screen and (max-width: 768px) {
        bottom: 180px;
        left: 50%;
        transform: translateX(-50%);
      }
      svg {
        flex-shrink: 0;
        width: 40px;
        height: 40px;
        color: #ADADAD;
      }
      //@media screen and (max-width: 768px) {
      //    display: flex;
      //}
    }
  }
}
